.stories {
  display: flex;
  gap: 10px;
  height: 200px;
  margin-bottom: 30px;

  .story {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    // -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    // -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    // box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    span {
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: white;
      font-weight: 400;
      font-size: 0.8rem;
    }

    button {
      position: absolute;
      bottom: 40px;
      left: 10px;
      color: white;
      background-color: #5271ff;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      height: 28px;
      width: 28px;
      font-size: 20px;
    }
  }
}
